.expo/
node_modules/
android/SimiCart.iml
android/app/app.iml
ios/SimiCart.xcodeproj/xcuserdata/glenn.xcuserdatad/xcschemes/xcschememanagement.plist
ios/SimiCart.xcworkspace/contents.xcworkspacedata
ios/SimiCart.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/SimiCart.xcworkspace/xcuserdata/glenn.xcuserdatad/UserInterfaceState.xcuserstate
ios/SimiCart.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/SimiCart.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/SimiCart.xcodeproj/project.xcworkspace/xcuserdata/glenn.xcuserdatad/UserInterfaceState.xcuserstate
ios/SimiCart.xcodeproj/
ios/SimiCart.xcworkspace/
ios/Pods/
android/.project
android/app/.project
android/.gradle/
android/.idea/
android/app/build/
android/app/bin/src/main/java/com/simicart/MainActivity.class
android/app/bin/src/main/java/com/simicart/MainApplication.class
android/app/bin/src/main/java/com/simicart/wraper/NativeMethodModule$DeviceTokenAsync.class
android/app/bin/src/main/java/com/simicart/wraper/NativeMethodModule.class
android/app/bin/src/main/java/com/simicart/wraper/NativeMethodPackage.class
